a{
	background-color:black;
	color:white;
	display: inline-block;
	border-radius:10px;
	padding:5px 10px 5px 10px;
}
a:hover{
	background-color:white;
}
h1{
	text-align: center;
	font-size: 55px;
	padding: 55px 0 20px 0;
}
h3{
	padding: 5px 50px 5px 50px;
}
body{
	background-image: url(./images/home.jpg);
	background-size:cover;
	
	
}
.para{
	padding: 40px 60px 40px 60px;
	background-color: #f2f4f7;
}
.coffee{
	padding: 55px 60px 55px 60px;
	background-color: pink;
	height: 100px;
	width: 1000px;
	overflow:auto;
	margin-top:50px;
	margin-left:200px;
}
.sandwich{
	padding: 55px 60px 55px 60px;
	background-color:green ;
	height: 100px;
	width: 1000px;
	overflow:scroll;
	margin-top:50px;
	margin-left:200px;
}
.icecream{
	padding: 55px 60px 55px 60px;
	background-color:pink ;
	height: 100px;
	width: 1000px;
	overflow:visible;
	margin-top:50px;
	margin-left:200px;
}
.smoothie{
	padding: 55px 60px 55px 60px;
	background-color:green ;
	height: 100px;
	width: 1000px;
	overflow:hidden;
	margin-top:50px;
	margin-left:200px;
}